
  .dropdown {
    position: relative;
    margin-right: 80px;
  }
  
  .dropdown-img{
    background-color: #E2E2FF;
    cursor: pointer;
    border: none;
    margin-left: 130px;
  }
  .dropdown-menu{
    list-style: none;
    background-color: #E2E2FF;
  }

  .dropdown-menu li{
    border: 1px solid #c3c3ff;
    padding: 10px;
    font-family: sans-serif;
  }

  .dropdown-menu li a{
    text-decoration: none;
    color: black;
  }

  @media (min-width: 320px) {
    .dropdown-img {
      margin-left: 0;
      margin-right: 30px;
      width: 30px;
    }
    .dropdown {
      margin-right: 0;
    }
  }
  
  @media (min-width: 768px) {
    
  }
  
  @media (min-width: 1024px) {
    
  }